<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>管理中心-首页</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="/css/public_style.css?v=20160630" type="text/css" rel="stylesheet" />
		<link type="text/css" rel="stylesheet" href="/css/qqlogin.css" />
		<link type="text/css" rel="stylesheet" href="/css/menu.css" />
		<link type="text/css" rel="stylesheet" href="/css/academy_school.css" />
		<link type="text/css" rel="stylesheet" href="/css/cms.css" />
		<link type="text/css" rel="stylesheet" href="/css/common.css" />
		<link type="text/css" rel="stylesheet" href="/css/elementUI12.css" />
		<link type="text/css" rel="stylesheet" href="/css/iconfont_cms.css" />
		<link type="text/css" rel="stylesheet" href="/css/elementUI-2.3.7.css" />
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			var schoolVerFlag = "false" == "true";
			var ctx = "/portal-web";
			// itp 前端项目访问地址
			var domain = 'https://zhjxy.kp.futurelab.tv'
			var resourceHost = 'https://zhjxy.kp.futurelab.tv:18087'
			var sessionid = "6b994432-a150-4946-92aa-3a4a13bccf16";
			if (typeof String.prototype.startsWith != 'function') {
				String.prototype.startsWith = function(prefix) {
					return this.slice(0, prefix.length) === prefix;
				};
			}
		</script>
		<script type="text/javascript" src="/js/lodash.js"></script>
		<script type="text/javascript" src="/js/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="/js/jquery.placeholder.min.js"></script>
		<script type="text/javascript" src="/js/remoteCall.js"></script>
		<!-- jQuery-Impromptu-master Start -->
		<link href="js/jquery-impromptu.min.css" type="text/css" rel="stylesheet" />
		<script src="js/jquery-impromptu.min.js" type="text/javascript"></script>
		<!-- jQuery-Impromptu-master End -->
		<script type="text/javascript" src="/js/jquery.lazyload.js"></script>
		<script type="text/javascript" src="/js/ResizeSensor.js"></script>
		<script type="text/javascript" src="/js/jquery.publicAlert.js"></script>
		<script type="text/javascript" src="/js/util.js"></script>
		<script type="text/javascript" src="/js/qqlogin.js?v=20160630"></script>
		<script type="text/javascript">
			jQuery.extend({
				escapeXML: function(content) {
					return $('<span></span>').text(content).html();
				},
				newline2br: function(content) {
					return content.replace(/\r\n/g, "<br/>").replace(/\r/g, "<br/>").replace(/\n/g, "<br/>");
				},
			});
			jQuery.prompt.setDefaults({
				top: '30%',
				persistent: false,
				buttons: {
					'确定': true
				}
			});
			window.alert = function(info, func) {
				if (!isNaN(parseInt(info))) {
					info = info + "";
				}
				$.prompt(info, {
					close: func
				});
			};

			// 跳转页面
			function gotoURL(targetUTL) {
				window.location.href = targetUTL;
			}
		</script>
		<!-- 图片懒加载 -->
		<!-- <script type="text/javascript">
$(function() {
$("img.lazy").lazyload();
$('input, textarea').placeholder();
});
</script> -->
		<!-- Logo -->
		<link href="img/favicon.ico" rel="icon" type="image/x-icon" />
		<link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />


		<link type="text/css" rel="stylesheet" href="/css/common_alert.css">
		<link type="text/css" rel="stylesheet" href="/css/login_bomb.css">
		<link type="text/css" rel="stylesheet" href="/css/header.css">
		<link rel="stylesheet" type="text/css" href="/css/academy_school.css">
		<script type="text/javascript">
			$(function() {
				$('.work_item').click(function() {
					location.href = $(this).data('url');
				});
			});
		</script>
		<style>
			a{
				padding:5px 10px;
				text-decoration: none;
				border:1px solid #313c42;
				margin-left: -1px;
				color: #000;

			}
			.active{
				background: #18c752;
				color: #fff;
			}
		</style>
	</head>
	<body>
		<!-- header部分 -->
		<script type="text/javascript">
			$(function() {
				//消息处理
				$('#msg_note_list_source ul li').each(function() {
					$('#msg_note_list ul li').eq($(this).index()).children().text($(this).text());
				});
				$('.msg_box1').one('mouseover', function() {
					$('#msg_note_list ul li a').each(function() {
						var $a = $(this);
						while ($a.outerHeight() > 44) {
							$a.text($a.text().replace(/(\s)*([a-zA-Z0-9]+|\W|_)(\.\.\.)?$/, "..."));
						}
					});
				});
				// 注销
				$("#logout").click(function() {
					$.publicAlert({
						text: "是否要退出系统?",
						callBack: function() {
							// window.location.href = ctx + "/u/logout";
							$.getJSON(ctx + '/u/logout', {}, function(result) {
								if (result && result.status == 200) {
									window.location.reload(true);
									return !1;
								} else {
									$.publicAlert("退出失败，重试！");
								}
							});
						}
					})
				});
				$("#goto_index_label").click(function() {
					location.href = domain
				})
				// 菜单显示
				if (location.pathname.indexOf("mgtExperiments") > -1) {
					localStorage.setItem("mgtExperimentPage", "true");
				} else if (location.pathname.indexOf("mgtIndex.do") > -1) {
					localStorage.removeItem("mgtExperimentPage");
				}
				var mgtExperimentPage = localStorage.getItem("mgtExperimentPage") != null;
				if (mgtExperimentPage) {
					$(".logo_txt").text("在线实验管理后台");
				}
				window.health = setInterval(function() {
					$.get(ctx + '/api/v1/health');
				}, 1000 * 60 * 5);
			});
		</script>
		<div class="Toms">
			<div class="p_ibm logo_box">
				<ul class="header_ul">
					<li class="active">
						<div class="p_ibm logo"></div>
						<label class="p_ibm logo_txt">管理后台</label>
					</li>
					<li>
						<div class="p_ibm"></div>
						<label class="p_ibm hover_pointer" id="goto_index_label">
							访问首页
						</label>
					</li>
					<!--<li><div class="p_ibm logo2"></div>
                <label class="p_ibm">OMS管理系统</label></li> -->
				</ul>
			</div>
			<div class="right Mtp15">
				<span class="p_ibm co_fff">廖衡</span>
				<span class="p_ibm exit_btn" id="logout"></span>
			</div>
		</div>
		<!-- 左侧导航部分 -->
		<script type="text/javascript" src="js/jquery_nicescroll_min.js"></script>
		<script type="text/javascript">
			$(function() {
				var mgtExperimentPage = localStorage.getItem("mgtExperimentPage") != null;
				if (mgtExperimentPage) {
					var menu = document.getElementById("menu");
					var parent = menu.parentElement;
					parent.innerHTML = '';
					parent.append(menu);

					var menus = document.getElementsByClassName("Select");
					_.each(menus, function(menu) {
						var url = menu.getAttribute("data-menu-url");
						if (location.pathname == url) {
							menu.classList.add("S_on")
						}
					});
				} else {
					document.getElementById("menu").remove();

					$("#Loms").niceScroll({
						cursorcolor: "#808080",
						cursorwidth: "5px",
						background: "none",
						cursorborder: "1px solid #808080",
						autohidemode: "leave",
						horizrailenabled: false,
						hidecursordelay: 0,
						iframeautoresize: true
					});
					// 默认被激活的左侧菜单class名称
					var level = parseInt("1");
					var menuUrl = "/portal-web/mgt/mgtIndex.do";
					if (typeof(menuUrl) == "undefined" || "" == menuUrl) {
						menuUrl = location.pathname;
					}
					if (!isNaN(level) && level == 2) {
						var $parentMenu = $('.sub_menu[data-menu-url="' + menuUrl + '"]').parents(".Ul").prev();
						$parentMenu.addClass('S_on');
						$('.sub_menu[data-menu-url="' + menuUrl + '"]').addClass('Li');
						var height = $parentMenu.next("ul").find("li").length;
						$parentMenu.data("ishide", 1);
						$parentMenu.next("ul").css("height", height * 51 + "px");
					} else {
						//menuUrl += location.search;
						$('.menu_root[data-menu-url="' + menuUrl + '"]').addClass('S_on');
					}
					if ($('.S_on').length > 0) {
						$('#Loms').animate({
							scrollTop: $('.S_on').offset().top
						}, 0);
					}
					// 头部active 暂时只有宅客云 先注掉
					/* $(".header_ul li").click(function() {
					    $(this).addClass("active").siblings().removeClass("active");
					}); */
				}
				// 收起、展开左侧导航
				$("#adv_btn").click(function() {
					var _this = $(this);
					var isshow = _this.data("isshow");
					if (isshow) {
						$("#Loms").hide();
						$("#Lomss").show();
						$("#Roms").css("left", "70px");
						_this.data("isshow", 0);
					} else {
						$("#Loms").show();
						$("#Lomss").hide();
						$("#Roms").css("left", "220px");
						_this.data("isshow", 1);
					}
				});
				// 左侧导航
				var animationTime = parseFloat(window.getComputedStyle($('#Loms .Ul')[0])['transition-duration']) * 1000;
				animationTime = animationTime ? animationTime : 500;
				$(".Select").click(function() {
					var _this = $(this);
					var ishide = _this.data("ishide");
					var height = _this.next("ul").find("li").length;
					$(".Select").data("ishide", 0);
					$(".Select").removeClass("S_on");
					$(".Ul").css("height", "0px");
					if (ishide) {
						_this.children(".lab3").css("background-position", "-44px -21px");
						_this.data("ishide", 0);
						_this.next("ul").css("height", "0px");
					} else {
						_this.children(".lab3").css("background-position", "-35px -21px");
						_this.data("ishide", 1);
						_this.next("ul").css("height", height * 51 + "px");
					}
					setTimeout(function() {
						$("#Loms").getNiceScroll().resize();
					}, animationTime);
					_this.addClass("S_on");
				});
				// 左侧hover效果
				$(".Ul li").click(function() {
					$(this).addClass("Li").siblings().removeClass("Li");
				});

				$(".Ul").each(function() {
					if ($(this).html().trim() == "") {
						$(this).parent().find(".lab3").remove();
					}
				});

			});
		</script>
		<!-- 左侧导航部分 -->
		<div id="Loms" class="Loms">
			<div class="select_box">
				<div class="Select menu_root" data-ishide="0" data-menu-url="/portal-web/mgt/mgtIndex.do">
					<a class="show oms_menu_option" href="/portal-web/mgt/mgtIndex.do"><span class="p_ibm lab1"></span><span class="p_ibm lab2">我的工作台</span></a>
				</div>
				<ul class="Ul"></ul>
			</div>
			<div class="select_box">
				<div class="Select menu_root" data-ishide="0" data-menu-url="/portal-web">
					<div class="oms_menu_option">
						<span class="p_ibm lab1"></span>
						<span class="p_ibm lab2 hover_pointer">系统管理</span>
						<span class="p_ibm lab3"></span>
					</div>
				</div>
				<ul class="Ul">
					<li class="sub_menu" data-menu-url="/portal-web/dictionaries"><a href="/portal-web/dictionaries"><span class="p_ibm hover_pointer">字典管理</span></a></li>
					<li class="sub_menu" data-menu-url="/portal-web/dictionaries/techType/children"><a href="/portal-web/dictionaries/techType/children"><span
							 class="p_ibm hover_pointer">技术方向管理</span></a></li>
					<li class="sub_menu" data-menu-url="/portal-web/mgt/feedback"><a href="/portal-web/mgt/feedback"><span class="p_ibm hover_pointer">反馈中心</span></a></li>
				</ul>
			</div>
			<div class="select_box">
				<div class="Select menu_root" data-ishide="0" data-menu-url="/portal-web">
					<div class="oms_menu_option">
						<span class="p_ibm lab1"></span>
						<span class="p_ibm lab2 hover_pointer">资源管理</span>
						<span class="p_ibm lab3"></span>
					</div>
				</div>
				<ul class="Ul">
					<li class="sub_menu" data-menu-url="/portal-web/resources/ftp"><a href="/portal-web/resources/ftp"><span class="p_ibm hover_pointer">FTP文件管理</span></a></li>
					<li class="sub_menu" data-menu-url="/portal-web/videos"><a href="/portal-web/videos"><span class="p_ibm hover_pointer">视频资源</span></a></li>
					<li class="sub_menu" data-menu-url="/portal-web/resources/logs"><a href="/portal-web/resources/logs"><span class="p_ibm hover_pointer">导入导出日志</span></a></li>
				</ul>
			</div>
			<div class="select_box">
				<div class="Select menu_root" data-ishide="0" data-menu-url="/portal-web">
					<div class="oms_menu_option">
						<span class="p_ibm lab1"></span>
						<span class="p_ibm lab2 hover_pointer">课程管理</span>
						<span class="p_ibm lab3"></span>
					</div>
				</div>
				<ul class="Ul">
					<li class="sub_menu" data-menu-url="/portal-web/textbooks"><a href="/portal-web/textbooks"><span class="p_ibm hover_pointer">教材资源</span></a></li>
					<li class="sub_menu" data-menu-url="/portal-web/resources/courses"><a href="/portal-web/resources/courses"><span
							 class="p_ibm hover_pointer">我的课程</span></a></li>
					<li class="sub_menu" data-menu-url="/portal-web/resources/courses?category=1"><a href="/portal-web/resources/courses?category=1"><span
							 class="p_ibm hover_pointer">我的开放课</span></a></li>
					<li class="sub_menu" data-menu-url="/portal-web/resources/courses?category=0"><a href="/portal-web/resources/courses?category=0"><span
							 class="p_ibm hover_pointer">我的专业课</span></a></li>
					<li class="sub_menu" data-menu-url="/portal-web/professions"><a href="/portal-web/professions"><span class="p_ibm hover_pointer">岗位课程</span></a></li>
				</ul>
			</div>
			<div class="select_box">
				<div class="Select menu_root" data-ishide="0" data-menu-url="/portal-web">
					<div class="oms_menu_option">
						<span class="p_ibm lab1"></span>
						<span class="p_ibm lab2 hover_pointer">云实验管理</span>
						<span class="p_ibm lab3"></span>
					</div>
				</div>
				<ul class="Ul">
					<li class="sub_menu" data-menu-url="/portal-web/resources/lab_templates"><a href="/portal-web/resources/lab_templates"><span
							 class="p_ibm hover_pointer">虚拟机模板管理</span></a></li>
					<li class="sub_menu" data-menu-url="/portal-web/resources/cases/labs"><a href="/portal-web/resources/cases/labs"><span
							 class="p_ibm hover_pointer">实验室案例管理</span></a></li>
				</ul>
			</div>
			<div class="select_box">
				<div class="Select menu_root" data-ishide="0" data-menu-url="/portal-web">
					<div class="oms_menu_option">
						<span class="p_ibm lab1"></span>
						<span class="p_ibm lab2 hover_pointer">考试管理</span>
						<span class="p_ibm lab3"></span>
					</div>
				</div>
				<ul class="Ul">
					<li class="sub_menu" data-menu-url="/portal-web/exams/questions"><a href="/portal-web/exams/questions"><span class="p_ibm hover_pointer">试题管理</span></a></li>
					<li class="sub_menu" data-menu-url="/portal-web/exams/templates"><a href="/portal-web/exams/templates"><span class="p_ibm hover_pointer">试卷管理</span></a></li>
					<li class="sub_menu" data-menu-url="/portal-web/exams"><a href="/portal-web/exams"><span class="p_ibm hover_pointer">考试管理</span></a></li>
					<li class="sub_menu" data-menu-url="/portal-web/exams/sentences"><a href="/portal-web/exams/sentences"><span class="p_ibm hover_pointer">考试判阅</span></a></li>
				</ul>
			</div>
			<div class="select_box">
				<div class="Select menu_root" data-ishide="0" data-menu-url="/portal-web">
					<div class="oms_menu_option">
						<span class="p_ibm lab1"></span>
						<span class="p_ibm lab2 hover_pointer">实训管理</span>
						<span class="p_ibm lab3"></span>
					</div>
				</div>
				<ul class="Ul">
					<li class="sub_menu" data-menu-url="/portal-web/cloud/templates"><a href="/portal-web/cloud/templates"><span class="p_ibm hover_pointer">云模板管理</span></a></li>
					<li class="sub_menu" data-menu-url="/portal-web/projects"><a href="/portal-web/projects"><span class="p_ibm hover_pointer">案例库管理</span></a></li>
					<li class="sub_menu" data-menu-url="/portal-web/trainings"><a href="/portal-web/trainings"><span class="p_ibm hover_pointer">实训管理</span></a></li>
				</ul>
			</div>
			<div id="menu" class="select_box">
				<div class="select_box">
					<div class="Select menu_root hasChildren" data-ishide="1" data-menu-url="/portal-web/mgtExperiments/cloud">
						<div class="oms_menu_option">
							<span class="p_ibm lab1"></span>
							<span class="p_ibm lab2 hover_pointer">云资源管理</span>
							<span class="p_ibm lab3"></span>
						</div>
					</div>
					<ul class="Ul" style="height: 460px">
						<li class="sub_menu" data-menu-url="/portal-web/mgtExperiments/vms/flavors">
							<a href="/portal-web/mgtExperiments/vms/flavors"><span class="p_ibm hover_pointer">OpenStack虚拟机模板</span></a>
						</li>
						<li class="sub_menu" data-menu-url="/portal-web/mgtExperiments/vms/instances">
							<a href="/portal-web/mgtExperiments/vms/instances"><span class="p_ibm hover_pointer">虚拟机管理</span></a>
						</li>
						<li class="sub_menu" data-menu-url="/portal-web/mgtExperiments/vms/images">
							<a href="/portal-web/mgtExperiments/vms/images"><span class="p_ibm hover_pointer">OpenStack镜像管理</span></a>
						</li>
						<li class="sub_menu" data-menu-url="/portal-web/mgtExperiments/vms/volumes">
							<a href="/portal-web/mgtExperiments/vms/volumes"><span class="p_ibm hover_pointer">OpenStack存储管理</span></a>
						</li>
						<li class="sub_menu" data-menu-url="/portal-web/mgtExperiments/vms/VMState">
							<a href="/portal-web/mgtExperiments/vms/VMState"><span class="p_ibm hover_pointer">云桌面管理</span></a>
						</li>
						<li class="sub_menu" data-menu-url="/portal-web/mgtExperiments/trainings">
							<a href="/portal-web/mgtExperiments/trainings"><span class="p_ibm hover_pointer">云实训管理</span></a>
						</li>
						<li class="sub_menu" data-menu-url="/portal-web/mgtExperiments/vms/hypervisors">
							<a href="/portal-web/mgtExperiments/vms/hypervisors"><span class="p_ibm hover_pointer">OpenStack资源监控</span></a>
						</li>
						<li class="sub_menu" data-menu-url="/portal-web/mgtExperiments/docker/images">
							<a href="/portal-web/mgtExperiments/docker/images"><span class="p_ibm hover_pointer">容器镜像管理</span></a>
						</li>
						<li class="sub_menu" data-menu-url="/portal-web/mgtExperiments/docker/status">
							<a href="/portal-web/mgtExperiments/docker/status"><span class="p_ibm hover_pointer">Docker资源监控</span></a>
						</li>
					</ul>
				</div>
				<div class="select_box">
					<div class="Select menu_root" data-ishide="0" data-menu-url="/portal-web/mgtExperiments/labs/templates">
						<a class="show oms_menu_option" href="/portal-web/mgtExperiments/labs/templates">
							<span class="p_ibm lab1"></span>
							<span class="p_ibm lab2">实验模板管理</span>
						</a>
					</div>
				</div>
				<div class="select_box">
					<div class="Select menu_root" data-ishide="0" data-menu-url="/portal-web/mgtExperiments/labs">
						<a class="show oms_menu_option" href="/portal-web/mgtExperiments/labs">
							<span class="p_ibm lab1"></span>
							<span class="p_ibm lab2">实验案例管理</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- 右侧部分开始 -->
		<!-- 右侧上半部分 -->
		<div id="app" class="Roms">
			<div id="cmsContent" element-loading-text="课程导入中" class="cms_content_main">
				<div id="Roms" class="cms_content_box">
					<div class="Plf20 Prt20">
						<!-- 右侧上半部分开始 -->
						<div class="cms_content_nav Ptp20" style="height:60px;"><span class="p_ibt title">课程列表</span>
							<div class="use_hint_box" style="margin-top: 9px;"><span class="p_ibt iconfont icon-question" style="margin-top: 3px;"></span>
								<div class="hint_box"><span>新增/导入课程文件夹：</span> <span>选择课程类型</span> <span>--&gt;</span> <span>设计章节</span> <span>--&gt;</span>
									<span>关联（试题、PPT、资料）</span> <span>--&gt;</span> <span>关联实训案例</span> <span>--&gt;</span> <span>关联实验案例</span>
									<span>--&gt;</span> <span>上线课程</span> <span>--&gt;</span> <span>课程管理</span></div>
							</div>
							<div class="right">
								<a href="javascript:;" class="p_button control_btn ">
									<span class="iconfont icon-join">
									</span>
									<span>
										<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="background-color: #27a9f7;border-color:#27a9f7;font-size:14px;">
											导入人员名单
										</button>
									</span>
								</a>
							</div>
						</div>
						<!-- 右侧上半部分结束 -->
						<!-- 右侧下半部分开始 -->
						<div class="user_box border_none Mlf10 Pbm40">
							<div class="Mtp20">
								<div class="p_ibt posr Line30"><span>姓名：</span>
									<div class="Width200 el-input">
										<!----><input type="text" autocomplete="off" placeholder="姓名" class="el-input__inner">
										<!---->
										<!---->
										<!---->
									</div>
								</div>
								<div class="p_ibt posr Line30 Mlf20"><span>手机号：</span>
									<div class="Width200 el-input">
										<!----><input type="text" autocomplete="off" placeholder="手机号" class="el-input__inner">
										<!---->
										<!---->
										<!---->
									</div>
								</div>
								<div class="p_ibt posr Line30 Mlf20"><span>角色：</span>
									<div class="Width200 el-input">
										<!----><input type="text" autocomplete="off" placeholder="角色" class="el-input__inner">
										<!---->
										<!---->
										<!---->
									</div>
								</div> <button type="button" class="el-button el-button--primary">
									<!---->
									<!----><span>搜索</span></button>
							</div>
							<div class="Mtp10">
								<div class="el-table el-table--fit el-table--striped el-table--enable-row-hover el-table--enable-row-transition"
								 style="width: 100%;">
									<div class="hidden-columns">
										<div></div>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
										<div mini-width="50"></div>
										<div fiexd="right"></div>
									</div>
									<div class="el-table__header-wrapper">
										<table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 1283px;">
											<colgroup>
												<col name="el-table_1_column_1" width="50">
												<col name="el-table_1_column_2" width="25">
												<col name="el-table_1_column_3" width="159">
												<col name="el-table_1_column_4" width="105">
												<col name="el-table_1_column_5" width="88">
												<col name="el-table_1_column_6" width="100">
												<col name="el-table_1_column_7" width="100">
												<col name="el-table_1_column_8" width="88">
												<col name="el-table_1_column_9" width="88">
												<col name="el-table_1_column_10" width="480">
												<col name="gutter" width="0">
											</colgroup>
											<thead class="has-gutter">

												<tr class="">
													<th colspan="1" rowspan="1" class="el-table_1_column_1  is-center   is-leaf">
														<div class="cell">序号</div>
													</th>
													<th colspan="" rowspan="1" class="el-table_1_column_2   el-table__expand-column  is-leaf">
														<div class="cell"></div>
													</th>
													<th colspan="2" rowspan="1" class="el-table_1_column_3     is-leaf" style="padding-left:60px;">
														<div class="cell">手机号</div>
													</th>
													<th colspan="1" rowspan="1" class="el-table_1_column_4     is-leaf" style="padding-left:10px;">
														<div class="cell">姓名</div>
													</th>
													<th colspan="1" rowspan="1" class="el-table_1_column_5     is-leaf" style="padding-left:20px;">
														<div class="cell">性别</div>
													</th>
													<th colspan="2" rowspan="1" class="el-table_1_column_6     is-leaf" style="padding-left:50px;">
														<div class="cell">头像</div>
													</th>
													<th colspan="1" rowspan="1" class="el-table_1_column_7     is-leaf">
														<div class="cell">角色</div>
													</th>
													<th colspan="2" rowspan="1" class="el-table_1_column_10     is-leaf">
														<div class="cell">操作</div>
													</th>
													<th class="gutter" style="width: 0px; display: none;"></th>
												</tr>
											</thead>
										</table>
									</div>
									<div class="el-table__body-wrapper is-scrolling-none">
										<table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 1283px;">
											<colgroup>
												<col name="el-table_1_column_1" width="50">
												<col name="el-table_1_column_2" width="25">
												<col name="el-table_1_column_3" width="159">
												<col name="el-table_1_column_4" width="105">
												<col name="el-table_1_column_5" width="88">
												<col name="el-table_1_column_6" width="100">
												<col name="el-table_1_column_7" width="100">
												<col name="el-table_1_column_8" width="88">
												<col name="el-table_1_column_9" width="88">
												<col name="el-table_1_column_10" width="480">
											</colgroup>
											<tbody id="person">







												<!---->
											</tbody>
										</table>
										<!---->
										<!---->
									</div>
									<!---->
									<!---->
									<!---->
									<!---->
									<div class="el-table__column-resize-proxy" style="display: none;"></div>
								</div>
							</div>



								<div class="Center Ptp25 Pbm40" >
									<div class="cms_page el-pagination" prev-text="上一页" next-text="下一页"><span class="el-pagination__total">共 <span id="el-pagination__total"></span> 条</span><!--<button type="button" class="btn-prev disabled">&lt;!&ndash;<span>上一页</span>&ndash;&gt;</button>-->
									<ul class="el-pager" id="pbm">
										<!--<li class="number active">1</li>-->
										<!--&lt;!&ndash;&ndash;&gt;
										<li class="number">2</li>
										<li class="number">3</li>
										<li class="number">4</li>
										<li class="number">5</li>
										&lt;!&ndash;&ndash;&gt;
										<li class="number">6</li>-->
									</ul><!--<button type="button" class="btn-next">&lt;!&ndash;<span>下一页</span>&ndash;&gt;</button>-->
								</div>
							</div>

						<!-- 右侧下半部分结束 -->
					</div>
				</div>
			</div>
		</div>


		<!-- 右侧下半部分 -->


		<!-- 右侧部分结束 -->
		<!-- 模态框（Modal） -->
		<form th:action="@{/user/excel}"  method="post" enctype="multipart/form-data">
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:200px;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">
							导入人员名单
						</h4>
					</div>
					<div class="modal-body">
						<p class="Plf20 text_name Mtp20">班级名称</p>

						<div class="posr limit_letter">
							<div class="el-select el_select0 Mlf20 Mtp10">
								<!---->
								<div class="el-input el-input--large">
									<!----><i class="el-input__icon el-icon-caret-top"></i><input name="className" id="className" placeholder="请输入班级名称" size="large"
																								  type="text" rows="2" class="el-input__inner">
								</div>

							</div>
						</div>





						<p class="Plf20 text_name Mtp20">班级人数</p>
						<div class="posr limit_letter">
							<div class="el-select el_select0 Mlf20 Mtp10">
								<!---->
								<div class="el-input el-input--large">
									<!----><i class="el-input__icon el-icon-caret-top"></i><input name="studentSize" id="studentSize" placeholder="请输入班级人数" size="large"
																								   type="text" rows="2" class="el-input__inner">
									<!---->
									<!---->
								</div>
								<div class="resize-triggers">
									<div class="expand-trigger">
										<div style="width: 281px; height: 43px;"></div>
									</div>
									<div class="contract-trigger"></div>
								</div>
							</div>
						</div>
						<div class="posr limit_letter">
							<div class="el_upload_file Mlf20 Mtp10 wido80">
								<div class="p_ibt" style="position:relative">
									<i class="p_ibt iconfont icon-join"></i>
									<a id="aFileBtn" style="border-style: none;"><input type="file"  name="file" style="position:absolute;opacity:0;" width=""></a>
									<span id="showFileName">选择excel导入文件列表</span>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						</button>
						<button type="submit" class="btn btn-primary">
							提交更改
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>
		</form>
		</div>
	<script>

		$("#aFileBtn").on("change","input[type='file']",function() {
			var filePath = $(this).val();
			//filePath.indexOf("jpg")!=-1 || filePath.indexOf("png")!=-1
			if (filePath.length > 0) {
				//$(".fileerrorTip").html("").hide();
				var arr = filePath.split('\\');
				var fileName = arr[arr.length - 1];
				$("#showFileName").html(fileName);
			} else {
				$("#showFileName").html("选择excel导入文件列表");
				//$("#fileerrorTip").html("您未上传文件，或者您上传文件类型有误！").show();
				return false;
			}
		})
		function getData() {
			var studentlist =[];
			$.ajax(
					{
						url: "/user/selectall",
						type: "post",
						async : false,
						dataType : 'json',
						success: function(result){
							studentlist=result;
							//alert(result);
						}
					});
			//alert(studentlist)
			return studentlist;
		}
		//alert("getData():"+getData());
           //alert(pageData);
					//分页以及渲染人员基本信息
					$.ajax({
						url: "/user/findAll",
						type: "post",
						data: {current: 1, size: 10},
						success: function (info) {
							$("#el-pagination__total").append(info.total);
							var users = [];
							users = getData();
							//alert("users:"+users);
							var pageData = [];
							var j = 1;

							for (var i = 0; i < users.length; i++) {
								//alert("学校"+users[i].schoolname);
								if (i % 2 == 0) {
									var div1 = '<tr class="el-table__row"><td class="el-table_1_column_1 is-center ">';
									var div2 = '<div class="cell">';
									var div4 = '<div>' + (j++) + '</div>';
									var div5 = '</div>';
									var div6 = '</td>';
									var div7 = '<td class="el-table_1_column_2  el-table__expand-column">';
									var div8 = '<div class="cell">';
									var div9 = '<div class="el-table__expand-icon ">';
									var div10 = '</div>';
									var div11 = '</div>';
									var div12 = '</td>';
									var div13 = '<td class="el-table_1_column_3  ">';
									var div14 = '<div class="cell el-tooltip" style="width: 158px;padding-left:70px;width:300px;">' + users[i].schoolname + '</div>';
									var div15 = '</td>';
									var div16 = '<td class="el-table_1_column_4  ">';
									var div17 = '<div class="cell"><span>';

									var div18 = '</td>';
									var div19 = '<td class="el-table_1_column_5  " style="padding-left:10px;">';
									var div20 = '<div class="cell"><span>' + users[i].username + '</span></div>';
									var div21 = '</td>';
									var div22 = '<td class="el-table_1_column_6  ">';
									var div23 = '<div class="cell"><span>';

									var div24 = '<div class="name-wrapper el-popover__reference" aria-describedby="el-popover-3397" tabindex="0" style="padding-left:20px;">' + users[i].sex;

									var div26 = '</div>';
									var div27 = '</span></div>';
									var div28 = '</td>';
									var div29 = '<td class="el-table_1_column_10  ">';
									var div30 = '<div class="cell" style="padding-left:20px;">';
									var div31 = '<img src="' + users[i].icon + '" width="80px;height:100px;" />';
									var div32 = '</div>';
									var div33 = '</td>';
									var div34 = '<td class="el-table_1_column_5  ">';

									var div36 = '</td>';
									var div37 = '<td class="el-table_1_column_9  ">';
									var div38 = '<div class="cell">';
									var div39 = '<div role="switch" aria-checked="true" class="el-switch is-checked" title="撤回考试">';
									var div40 = '<span>' + users[i].role + '</span>';
									var div41 = '</div>';
									var div42 = '</div>';
									var div43 = '</td>';
									var div44 = '<td class="el-table_1_column_10  ">';
									var div45 = '<div class="cell">';
									var div46 = '<button type="button" class="el-button el-button--success el-button--mini">';
									var div47 = '<span>详情</span>';
									var div48 = '</button>';
									var div49 = '<button type="button" class="el-button el-button--success el-button--mini" style="background-color: #F1554E;border:red;">';
									var div50 = '<span>编辑</span>';
									var div51 = '</button>';
									var div52 = '<button type="button" class="el-button el-button--success el-button--mini">';
									var div53 = '<span>删除</span>';
									var div54 = '</button>';
									var div58 = '<button type="button" class="el-button el-button--primary el-button--mini">';
									var div59 = '<span>重置密码</span>';
									var div60 = '</button>';
									var div61 = '</div>';
									var div62 = '</td></tr>';
									var div = div1 + div2 + div4 + div5 + div6 + div7 + div8 + div9 + div10 +
											div11 + div12 + div13 + div14 + div15 + div16 + div17 + div18 + div19 + div20 +
											div21 + div22 + div23 + div24 + div26 + div27 + div28 + div29 + div30 +
											div31 + div32 + div33 + div34 + div36 + div37 + div38 + div39 + div40 +
											div41 + div42 + div43 + div44 + div45 + div46 + div47 + div48 + div49 + div50 +
											div51 + div52 + div53 + div54 + div58 + div59 + div60 + div61 + div62;
									pageData.push(div);
								} else {
									var div1 = '<tr class="el-table__row el-table__row--striped"><td class="el-table_1_column_1 is-center ">';
									var div2 = '<div class="cell">';
									var div4 = '<div>' + (j++) + '</div>';
									var div5 = '</div>';
									var div6 = '</td>';
									var div7 = '<td class="el-table_1_column_2  el-table__expand-column">';
									var div8 = '<div class="cell">';
									var div9 = '<div class="el-table__expand-icon ">';
									var div10 = '</div>';
									var div11 = '</div>';
									var div12 = '</td>';
									var div13 = '<td class="el-table_1_column_3  ">';
									var div14 = '<div class="cell el-tooltip" style="width: 158px;padding-left:70px;width:300px;">' + users[i].schoolname + '</div>';
									var div15 = '</td>';
									var div16 = '<td class="el-table_1_column_4  ">';
									var div17 = '<div class="cell"><span>';

									var div18 = '</td>';
									var div19 = '<td class="el-table_1_column_5  " style="padding-left:10px;">';
									var div20 = '<div class="cell"><span>' + users[i].username + '</span></div>';
									var div21 = '</td>';
									var div22 = '<td class="el-table_1_column_6  ">';
									var div23 = '<div class="cell"><span>';

									var div24 = '<div class="name-wrapper el-popover__reference" aria-describedby="el-popover-3397" tabindex="0" style="padding-left:20px;">' + users[i].sex;

									var div26 = '</div>';
									var div27 = '</span></div>';
									var div28 = '</td>';
									var div29 = '<td class="el-table_1_column_10  ">';
									var div30 = '<div class="cell" style="padding-left:20px;">';
									var div31 = '<img src="' + users[i].icon + '" width="80px;height:100px;" />';
									var div32 = '</div>';
									var div33 = '</td>';
									var div34 = '<td class="el-table_1_column_5  ">';

									var div36 = '</td>';
									var div37 = '<td class="el-table_1_column_9  ">';
									var div38 = '<div class="cell">';
									var div39 = '<div role="switch" aria-checked="true" class="el-switch is-checked" title="撤回考试">';
									var div40 = '<span>' + users[i].role + '</span>';
									var div41 = '</div>';
									var div42 = '</div>';
									var div43 = '</td>';
									var div44 = '<td class="el-table_1_column_10  ">';
									var div45 = '<div class="cell">';
									var div46 = '<button type="button" class="el-button el-button--success el-button--mini">';
									var div47 = '<span>详情</span>';
									var div48 = '</button>';
									var div49 = '<button type="button" class="el-button el-button--success el-button--mini" style="background-color: #F1554E;border:red;">';
									var div50 = '<span>编辑</span>';
									var div51 = '</button>';
									var div52 = '<button type="button" class="el-button el-button--success el-button--mini">';
									var div53 = '<span>删除</span>';
									var div54 = '</button>';
									var div58 = '<button type="button" class="el-button el-button--primary el-button--mini">';
									var div59 = '<span>重置密码</span>';
									var div60 = '</button>';
									var div61 = '</div>';
									var div62 = '</td></tr>';
									var div = div1 + div2 + div4 + div5 + div6 + div7 + div8 + div9 + div10 +
											div11 + div12 + div13 + div14 + div15 + div16 + div17 + div18 + div19 + div20 +
											div21 + div22 + div23 + div24 + div26 + div27 + div28 + div29 + div30 +
											div31 + div32 + div33 + div34 + div36 + div37 + div38 + div39 + div40 +
											div41 + div42 + div43 + div44 + div45 + div46 + div47 + div48 + div49 + div50 +
											div51 + div52 + div53 + div54 + div58 + div59 + div60 + div61 + div62;
									pageData.push(div);
								}
							}
							//alert(pageData);
							var Count = info.total;//记录条数
							var PageSize = 10;//设置每页示数目
							var PageCount = Math.ceil(Count / PageSize);//计算总页数
							var currentPage = 1;//当前页，默认为1。
							//造个简单的分页按钮
							for (var i = 1; i <= PageCount; i++) {

								var pageN = '<li class="number" selectPage="' + i + '">' + i + '</li>';
								$('#pbm').append(pageN);
							}
							//显示默认页（第一页）
							//$('#person').empty().append(head);
							for (i = (currentPage - 1) * PageSize; i < PageSize * currentPage; i++) {
								$('#person').append(pageData[i]);
							}
							//$('#person').append(end);

							//显示选择页的内容
							$('li').click(function () {
								var selectPage = $(this).attr('selectPage');
								$('#person').html('');
								//$('#person').append(head);
								for (i = (selectPage - 1) * PageSize; i < PageSize * selectPage; i++) {
									$('#person').append(pageData[i]);
								}
								//$('#person').append(end);
							});

						}



				})
	</script>



	</body>
</html>
